@import "../utils/variables";

header.header {
  width: 100%;
  height: auto;
  background: $color-principal;
  position: fixed;
  z-index: 1000;
  div.header__boxgeneral {
    width: 100%;
    display: flex;
    padding: 20px;
    box-shadow: 0 3px 6px 0 rgba(36, 36, 36, 0.29);
    justify-content: space-between;
    align-items: center;
    button.header__menubutton {
      border: none;
      background: none;
      cursor: pointer;
      img {
        width: 20px;
      }
      img.header-menubutton__icon {
        width: 18px;
      }
    }
    div.header__titlebox {
      display: flex;
      margin-right: 100px;
      justify-content: space-between;
      width: 30%;
      align-items: center;
      div.header__boxlogo {
        width: 50%;
        height: auto;
        font-size: 1.5em;
        font-family: $fontPrincipal;
        box-shadow: 0 14px 24px 0 rgba(139, 139, 139, 0.25);
        text-align: center;
        margin-right: 10px;
        padding: 10px;
      }
      h1.header-titlebox__title {
        font-size: 0.8em;
        font-family: $fontPrincipal;
        display: flex;
        flex-direction: column;
        color: rgba(17, 17, 17, 1);
        line-height: 18px;
        letter-spacing: 2.8px;
        span.header-titlebox-title__span {
          font-weight: 100;
        }
      }
    }
    div.header-boxgeneral__icons {
      display: flex;
      justify-content: space-between;
      width: 20%;
      button {
        border: none;
      }
    }
  }
  nav.header-menu__burguer {
    height: auto;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: -200px;
    ul.header-menu__items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      list-style: none;
      padding-left: 20px;
      padding-bottom: 0px;
      li {
        padding: 10px 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        a {
          color: rgba(17, 17, 17, 1);
          font-family: $fontPrincipal;
          font-weight: 600;
          background: none;
        }

        a.active {
          color: rgb(190, 173, 142);
        }
      }
    }
  }
  nav.header-menu-desktop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  header.header {
    background: $color-tercero;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    div.header__boxgeneral {
      width: 80%;
      padding: 20px;
      position: absolute;
      top: 36px;
      button.header__menubutton {
        display: none;
      }
      div.header__titlebox {
        margin-right: 50px;
        div.header__boxlogo {
          width: 30%;
          font-size: 40px;
          margin-right: 10px;
        }
        h1.header-titlebox__title {
          font-size: 26px;
          span.header-titlebox-title__span {
            font-weight: 100;
            margin-top: 5px;
          }
        }
      }
      div.header-boxgeneral__icons {
        justify-content: space-around;
      }
    }
    nav.header-menu__burguer {
      display: none;
    }
    nav.header-menu-desktop {
      display: flex;
      width: 50%;
      justify-content: flex-start;
      margin-right: 100px;
      ul.header-menu-desktop-menu__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-left: 20px;
        padding-bottom: 0px;
        li {
          padding: 10px 0px;
          padding-bottom: 0px;
          margin-top: 10px;
          margin-bottom: 10px;
          a {
            color: rgba(17, 17, 17, 1);
            font-family: $fontPrincipal;
            font-weight: 600;
            background: none;
            transition: 0.5s;

            &:hover {
              transform: scaleX(1.2);
              color: rgb(190, 173, 142);
            }
          }

          a.active {
            color: rgb(190, 173, 142);
          }
        }
      }
    }
  }
};