
html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1);
}

body {
    min-width: 320px;
}

a {
    text-decoration: none;
} 

h2, h3, h4, p {
    background: none;
}

:root {
  --swiper-theme-color: rgba(190, 173, 142, 1);
}
