@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fontPrincipal: 'Archivo', sans-serif;
$fontSecundaria: 'Old Standard TT', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$color-principal: rgba(255, 255, 255, 1);
$colorPrincipal: rgba(255, 255, 255, 1);
$colorSecundario: rgba(189, 172, 141, 1);
$color-secundario: rgba(189, 172, 141, 1);
$color-tercero: rgba(34, 34, 34, 1);
$colorTercero: rgba(34, 34, 34, 1);